<p>Please go to <a class="reference internal" href="#constdata-menu-gettext-csv-filesaveas" title="FileSaveAs"><span class="menuselection">Soubor ‣ Uložit jako...</span></a>.</p>
<p>Please go to <a class="reference internal" href="#constdata-menu-gettext-json-filesaveas" title="FileSaveAs"><span class="menuselection">Soubor ‣ Uložit jako...</span></a>.</p>
<p>Please go to <a class="reference internal" href="#constdata-menu-gettext-yaml-filesaveas" title="FileSaveAs"><span class="menuselection">Soubor ‣ Uložit jako...</span></a>.</p>